:root {
    --dark:#000503;
    --gold:#ad9551;
    --dark-green: #07271A; 
    --green:#2B6B51;
    --light-green:#3E8468;
    --green-grey:#A7D1C0;
    --light-grey:#E9EFEC;}
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
  }
  
  h5 {
    color: var(--gold);
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;}
  /*---------------------------------
          HEADER
  ----------------------------------*/
  header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--light-grey);
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  nav a {
    padding: 10px 15px;
    background-color: transparent;
    color: var(--dark);
    font-weight: 700;
  }
  
  nav a:hover {
    color: var(--gold);  
    text-decoration:underline;
}
  
  nav a[href*="#contact"] {
    background-color:var(--gold);
    padding: 6px 12px;
    border-radius: 15px;
  }
  nav a[href*="#contact"]:hover{
    color: var(--gold);  
    background-color:var(--dark-green);
    text-decoration: none;
  }
  
  /*---------------------------------
          SM-ICONS
  ----------------------------------*/
  /* .button {
    padding: 16px 30px;
    display: inline-block;
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 15px;
    color: #fff;
    background-color: var(--light-green);
    border: 1px solid var(--green);
  }
  
  .button:hover {
    color: #fff;
    background-color: var(--light-green);
    border-color: var(--light-green);
  }
  
  .button-secondary {
    background: none;
    color: var(--green);
  }
   */

  .sm {
    padding-top: 30px;
    display: flex;
    gap: 26px;    
  }
  .sm div {
    background-color: var(--gold);
    border-radius: 50%;
    width: 40px;
    height: 40px;  
    fill: var(--dark-green);      /*coś tu nie działa z kolorami*/
  }
  .sm svg {
    margin: 8px;
    width: 24px;
    height: 24px; 
  }

  .sm div:focus,
  .sm div:hover{
    background-color: var(--dark);
    fill: var(--gold);
  }

  .sm div:hover {
    cursor: pointer;
  }
  /*---------------------------------
          HERO
  ----------------------------------*/
  .hero {
    margin-top: 80px;
    padding: 50px 0;
    background-color:var(--dark-green);
  }
  
  .hero-content {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    place-items: center;
    gap: 30px;
  }
  
  .hero h2 {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 600;
    color: var(--gold);
    margin: 0;
  }
  
  .hero h2 span {
    font-weight: 400;
  }
  
  .hero p {
    color: var(--light-grey);
    font-size: 18px;
    margin-top: 20px;
    line-height: 28px;
    margin-bottom: 10px;
  }
  
  .hero-btn a {
    margin-right: 15px;
  }
  
  .hero img {
    border-radius: 50%;
    width: 80%;
    border: 4px solid var(--gold);
    background-color: var(--light-grey);
  }
  
  /*---------------------------------
          ABOUT
  ----------------------------------*/
  .about {
    padding: 50px 0;
  }
  
  .about-content {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    gap: 60px;
  }
  
  .about-content img {
    width: 100%;
  }
  
  .about h2 {
    font-size: 35px;
    font-weight: 700;
    margin: 20px 0px;
  }
  
  .about p {
    color: #333;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
  }
  
/*---------------------------------
          FOOTER
----------------------------------*/
  footer {
    background: var(--light-grey);
    color: var(--dark);
    padding: 10px 0;
    text-align: center;
  }