:root {
    --dark:#000503;
    --gold:#ad9551;
    --dark-green: #07271A; 
    --green:#2B6B51;
    --light-green:#3E8468;
    --green-grey:#A7D1C0;
    --light-grey:#E9EFEC;
    --white:#fff;
  }
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }

  .container {
    max-width: 428px;
    margin: auto;
    padding: 0 20px;
  }
  @media screen and (min-width: 768px){
    .container{
      max-width: 768px;
    }
  }
  @media screen and (min-width: 1200px){
    .container{
      max-width: 1200px;  /* ??????????????????????????*/
    }
  }

  p {
    color: var(--dark);
    font-size: 18px;
    line-height: 30px;
    margin: 0;
  }
  h5 {
    color: var(--gold);
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 0;
  }
  
  a {
    text-decoration: none;
  }

  ul {
    list-style: none;}
  /*---------------------------------
          HEADER
  ----------------------------------*/
  header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--light-grey);
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }
 
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  nav a {
    padding: 10px 15px;
    background-color: transparent;
    color: var(--dark);
    font-weight: 700;
  }
  
  nav a:hover {
    color: var(--gold);  
    text-decoration:underline;
}
  
  nav a[href*="#contact"] {
    background-color:var(--gold);
    padding: 6px 12px;
    border-radius: 15px;
  }
  nav a[href*="#contact"]:hover{
    color: var(--gold);  
    background-color:var(--dark);
    text-decoration: none;
  }
  .lang img{
   padding: 2px;
margin: 4;    }
  
  /*---------------------------------
          SM-ICONS
  ----------------------------------*/

  .sm {
    display: flex;
    gap: 26px;  
    padding-left: 0;  
  }
  .hero-btn1{
    display: none;
  }

  @media screen and (min-width: 1200px){
    .hero-btn1{
      display: flex;
      justify-content: center;
  margin: 0;
  padding: 0;
    }}

    .hero-btn2{
      display: flex;
      justify-content: center;
  margin-top: 0;
 }
  @media screen and (min-width: 1200px){
    .hero-btn2{
      display: none;
    }
  }

  .sm div{
    background-color: var(--gold);
    border-radius: 50%;
    width: 40px;
    height: 40px;  
  }
  .sm svg {
    margin: 8px;
    width: 24px;
    height: 24px;
       fill: var(--dark-green);  
  }

  .sm div:focus,
  .sm div:hover{
    background-color: var(--dark);
  }

  .sm div:hover {
    cursor: pointer;
  }
  /*---------------------------------
          HERO
  ----------------------------------*/
  .hero {
    padding: 50px 0;
    background-color:var(--dark-green);
    align-items: center;
  }
  
  .hero-content {
    padding-top: 40px;
    margin-top: 24px;
    place-items: center;
    gap: 30px;
    display: grid;

  }
  @media screen and (min-width: 768px){
    .hero-content {
      margin-top: 48px;
      display: grid;
      grid-template-columns: 0.5fr 0.5fr;
      place-items: center;
      gap: 30px;
    }
  }
  @media screen and (min-width: 1200px){
  .hero-content {
    margin-top: 95px;
    padding-top: 0;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    place-items: center;
    gap: 30px;
  }}
  .hero h2 {
    /* border: solid greenyellow; */
    /* padding-top: 50px; */
    font-size: 48px;
    line-height: 1.2;
    font-weight: 600;
    color: var(--gold);
    margin: 0;
    text-align: center;
  }
  
  .hero h2 span {
    font-weight: 400;
  }
  
  .hero-text-item {
    color: var(--light-grey);
    font-size: 18px;
    margin-top: 20px;
    line-height: 28px;
    margin-bottom: -20px;
    text-align: center;
  }
  @media screen and (min-width: 1200px){
    .hero-text-item{
      display: none;
    }
  }
  .hero-text{
    color: var(--light-grey);
    font-size: 18px;
    margin-top: 20px;
    line-height: 28px;
    margin-bottom: 10px;
    text-align: center;
    display: none;
  }
  @media screen and (min-width: 1200px){
    .hero-text{
      display: flex;
      text-align: center;}}

  .photo-1 {
    display: none;
    border-radius: 50%;
    width: 80%;
    border: 4px solid var(--gold);
  }
  @media screen and (min-width: 1200px){ 
    .photo-1 {
    display: flex;
    width: 80%;
  }}
  @media screen and (min-width: 768px) and (max-width: 1199px){
    .photo-1{
      display: flex;
      width: 100%;
    }
  }
  .photo-box{    display: flex;
    justify-content: center;
  padding: 10px;}

    .photo-2 {     
    border-radius: 50%;
    width: 100%;
    border: 4px solid var(--gold);
margin-top: 20px;  }
  @media screen and (min-width: 768px){
    .photo-2{
      display: none;
    }
  }

  /*---------------------------------
          ABOUT
  ----------------------------------*/
  /* .about {
    padding: 50px 0;
  } */
  
  .about-content {  padding-top: 40px;
    margin-top: 24px;
    display: flex;
  }
  @media screen and (min-width: 1200px){
  .about-content {  
    margin-top: 80px;
    display: grid;
    grid-template-columns: 0.35fr 0.65fr;
    gap: 60px;
  }}

  @media screen and (min-width: 768px){}
  .about-content img {display: none;
    width: 100%;
  }
  @media screen and (min-width: 1200px){
  .about-content img {
    display: flex;
    width: 100%;
  }}
  .about h2 {
    font-size: 35px;
    font-weight: 700;
    margin: 20px 0px;
    color: var(--dark-green);
  }
  

  
/*---------------------------------
          SKILS
  ----------------------------------*/
  .skils {
    padding: 50px 0;
    background-color:var(--dark-green);
  }
  
  .skils-content {   
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    gap: 30px;
  } 
  .skils h2{
    font-size: 35px;
    font-weight: 700;
    margin: 20px 0px;
    text-align: center;
    color: var(--gold);
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  .skils p{
    padding-top: 20px;
    color: var(--light-grey);
    text-align: center;
    padding-bottom: 40px;
  }
  .skils-item p {
    font-size: 16px;
    margin-top: 8px;
    color: var(--light-grey);
  }
  
  .skils-item ul{  
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-shrink: 0;
    row-gap: 48px;
    column-gap: 24px;
    margin-left: -40px;
  }
.skils-item svg{
    width: 48px;
    height: 48px; 
}

/*---------------------------------
          PORTFOLIO
----------------------------------*/
.portfolio {
  padding: 50px 0;
}
.portfolio h2{
  font-size: 35px;
  font-weight: 700;
  margin: 20px 0px;
  text-align: center;
  color: var(--gold);
  text-transform: uppercase;
  letter-spacing: 3px;
}
.portfolio p{
  text-align: center;
  padding-bottom: 40px;

}
.portfolio-content {  
  margin-top: 80px;
}
:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.gallery {
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 12px;
  justify-content: center;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.gallery__item {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__image:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: zoom-in;
}
/*---------------------------------
          CONTACT
  ----------------------------------*/
  .contact {    
    padding: 50px 0;
    background-color: var(--dark-green);
  }
  .contact-content {  
    padding-top: 40px;
    display: grid;
    grid-template-columns:0.63fr 0.35fr ;
    gap: 60px;
  }
.contact-span{
  margin-top: 80px;

}
.contact img {
  margin: 20px 0;
  width: 90%;
  border:  solid var(--gold);
  background-color: var(--light-grey);
}

  .contact h2{
    font-size: 35px;
    font-weight: 700;
    margin: 20px 0px;
    text-align: center;
    color: var(--gold);
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-bottom: 20px;
  }
  .contact p{
    text-align: center;
    padding-left: 10px;
    color: var(--light-grey);

  }
  .contact-item {
        justify-content: flex-start;
        padding-left: 0;
        padding-top: 20px;
margin: 0;

  }
  .contact-item li{ 
    display: flex;
    align-items: center;       
    align-items: flex-end;
    padding-left: 0;
padding-bottom: 24px;
  }

  .contact-icon div{
    background-color: var(--gold);
    border-radius: 50%;
    width: 30px;
    height: 30px;  }

    .contact-icon svg {
      margin: 3px;
      width: 24px;
      height: 24px;
         fill: var(--dark-green);  
    }
    .contact-icon div:focus,
    .contact-icon div:hover{
      background-color: var(--dark);
      fill: var(--gold);   
    }
/*---------------------------------
          FORM
  ----------------------------------*/
.contact label {
  display: flex;
  flex-direction: column;
  color: var(--green-grey);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.48px;
  gap: 8px;
  padding-bottom: 12px;
}
.input-wrapper {
  display: flex;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid var(--green-grey);
}

.input-wrapper:focus-within {
  border: 1px solid var(--green);
}
.input-wrapper > input {
  flex-grow: 1;
  padding-left: 4px;
  color: var(--light-grey);
  font-size: 16px;

}

.box-input:not([type="checkbox"]) {
  border: none;
  background-color: transparent;
  outline: transparent;
  fill: var(--green);
}
textarea {
  resize: none;
}
.label-comment {
  padding-top: 8px;
  padding-left: 16px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid var(--green-grey);
  color: var(--light-grey);
  font-size: 16px;
}
.label-comment:focus-within {
  padding-top: 8px;
  padding-left: 16px;
  flex-grow: 1;
  outline: transparent;
  border: 1px solid var(--green);
}

.privacy {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 8px;
  margin-bottom: 16px;
}
.privacy a{
  color: var(--gold);
}
.privacy a:hover{
  color: var(--green);
}
.checkbox-span {
  position: absolute;
  border: 1px solid var(--light-grey);
  border-radius: 2px;
  width: 16px;
  height: 16px;
  display: flex;
  left: 0;
  top: 0;
}
.checkbox-icon {
  position: relative;
  transform: translateY(-50%);
  opacity: 0;
  margin-right: 8px;
}
.agree-icon {
  position: absolute;
  opacity: 0;
}
.checkbox-icon:checked + .checkbox-span .agree-icon {
  opacity: 1;
}

.button {
  background-color:var(--gold);
  padding: 6px 12px;
  border-radius: 15px;
  border: #ad9551;
}
.button:hover{
  color: var(--gold);  
  background-color:var(--dark);
}

/*---------------------------------
          FOOTER
----------------------------------*/
  footer {
    background: var(--light-grey);
    color: var(--dark);
    padding: 10px 0;
    text-align: center;
  }
  footer p{
    font-size: 14px;
  }

  /*---------------------------------
          MODAL
----------------------------------*/

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(46, 47, 66, 0.4);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 392px;
  height: 584px;
  border-radius: 4px;
  background: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}
@media screen and (min-width: 768px) {
  .modal {
    width: 800px;
  }
}

.button-close {
  background-color: var(--cornflower);
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid var(--green);
  fill: var(--dark-green);
  cursor: pointer;
}

.button-close:hover,
.button-close:focus {
  background-color: var(--dark-green);
  fill: var(--white);

  transition: color var(--transition), background-color var(--transition),
    box-shadow var(--transition);
}

.policy{
  padding: 20px;
}
.policy p{
  font-size: 16px;
  line-height: 20px;

}
.policy-box{
  width: 100%;
  height: 465px;
  overflow: auto;
}